#container-primary {
  width: 100vw;
  height: 50rem;

  background: var(--bg);

  #header-top {
    width: 100%;
    height: 15rem;
    position: relative;
    background: var(--bg-accent);

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
