* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);

  // Estilização do mode Dark

  .dark-mode {
    --bg: hsl(230, 17%, 14%);
    --bg-accent: hsl(232, 19%, 15%);

    --card: hsl(228, 28%, 20%);

    --accent-text: hsl(228, 34%, 66%);
    --text: hsl(0, 0%, 100%);
  }

  // Estilização do Modo Light
  .light-mode {
    --bg: hsl(0, 0%, 100%);
    --bg-accent: hsl(225, 100%, 98%);

    --card: hsl(227, 47%, 96%);

    --text: hsl(230, 17%, 14%);
    --accent-text: hsl(228, 12%, 44%);
  }
}
